@import "tailwindcss";

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/src/public/font/IBMPlexSansArabic/IBMPlexSansArabic-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBMPlexSansArabic", sans-serif;
  overflow-x: hidden;
}

@theme {
  --color-main: #0339a6;
  --color-black: #0d0d0d;
  --color-white: #ffffff;
  --color-gray-background: #d9d9d9;
  --shadow-form: 0px -10px 10px 1px #aaa;
  --shadow-card: 0px -5px 10px 1px #aaa;
  --shadow-normal: 0px 0px 10px 1px #aaa;
}

tr {
  @apply border-b-[3px] border-black/35;
}
